<div id="friends">
    {{#if all_users}}
<p>Friends</p>
    {{#each all_users}}
        <p>
            <a href="/user/profile/{{this._id}}"> {{this.name}} </a>
        </p>
    {{/each}}

    {{/if}}

</div>