p{
    margin: 0;
}

div.user-chat-box{
    height: 20em;
    width: 19em;
    border: 2.5px black solid;
    border-radius: 17px;
    /* position: absolute;
    bottom: 0;
    right: 0; */
}

ul#chat-messages-list{
    overflow-y: auto;
    margin: 0;
    padding: 0;
    height: 70%;
    /* border: 1px black solid; */
    margin-bottom: 5%;
    position: relative;
}

/* ul#chat-messages-list li.other-message{
    margin: 5px 0;
    border: 1px black solid;
    border-radius: 15px;
    padding: 5px;
    width: fit-content;
    display: block;
}

ul#chat-messages-list li.self-message{
    margin: 5px 0;
    text-align: end;
    border: 1px black solid;
    border-radius: 15px;
    width: fit-content;
    white-space: nowrap;
    padding: 5px;
    float: right;
    display: block;
} */
ul#chat-messages-list li.self-message{
    display: block;
    text-align: end;
    
}

ul#chat-messages-list li.other-message span{
    margin: 5px 0;
    border: 1px black solid;
    border-radius: 15px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    /* display: block; */
    background-color: blanchedalmond;
}

ul#chat-messages-list li.self-message span{
    margin: 5px 0;
    border: 1px black solid;
    border-radius: 15px;
    padding: 5px;
    width: fit-content;
    display: inline-block;
    /* float: right; */
    background-color: lightgreen;
}

div#chat-message-input-container{
    height: 30%;
    width: inherit;
}

div#chat-message-input-container input{
    margin-bottom: 5%;
    border: none;
    outline: none;
    background: rgb(86, 232, 252);
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
    display: block;
}

div#chat-message-input-container button{
    margin-bottom: 5%;
    border: none;
    outline: none;
    background: rgb(186, 187, 187);
    padding: 5px 9px;
    border-radius: 15px;
    margin-left: 3px;
    cursor: pointer;
}