{{>header}}
<head>
    <link href="/css/style.css" rel="stylesheet">
</head>
<br>
{{user.name}}<br>
{{user.user_email}}
<br><br>
<section>
    <form action="/post/create" method="post">
    Posts<br><br>
        <textarea name="content" id="content" placeholder="Type Here ...." rows="3" cols="30"></textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</section>
{{!-- <form action="/user/sign-out" method="get">
    <input type="submit" value="Sign out">
</form> --}}
<br>
{{>footer}}