{{>header}}
<head>
    <link href="/css/style.css" rel="stylesheet">
</head>
<br>
<h1>User sign in</h1>
<br>
<form action="/user/create-session" method="post">
    <input type="text" name="user_email" placeholder="Enter your email.">
    <input type="password" name="password" placeholder="Enter your password.">
    
    <br><br>
    <button type="submit">Submit</button>

</form>
{{>footer}}