header{
    display: block;
}

header div.head{
    padding: 0.5em;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 45%;
    background-color: rgb(0, 238, 255);
}

header div.head div.app_name{
    display: inline-block;
}

header div.head a{
    text-decoration: none;
    font-size: large;
    color: black;
    display: inline;
    padding: 0 0.2em;
    margin: 0 0.2em;
    white-space: nowrap;
}

header div.head div.section-profile{
    text-align: end;
}

header div.head div.section-signout{
    text-align: end;
}
