/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Quicksand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&family=Quicksand&display=swap');
*{
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    list-style-type: none;
    border: 1px soldi black;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    /* height: 100%; */
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    overflow-y: auto;
    scroll-behavior: smooth;
    position: relative;
}



.posts{
    height: 100%;
    width: 80vw;
}
div.post{
    /* display: block; */
    /* width: 80vw; */
    padding: 10px;
}
.friends{
    padding: 10px;
    border-left: 1px solid lightgray;
    height: 100%;
}
.post_container{
    display: flex;
    height: 90%;
}