<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="https://chat-application-production-488f.up.railway.app/user/change-password"
      method="post"
    >
      <input type="hidden" name="user" value="<%= user._id %>" />
      <h1>Welcome</h1>
      <%= user.user_email %> <br /><br />
      <p>To change your password click this link!</p>
      <br />
      <input type="submit" value="Change Password" />
    </form>
  </body>
</html>
